@{
	ViewData["Title"] = "تماس با ما";
}
<div id="mainRight" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="card mb-3" style="max-width: 90%;">
		<div class="row no-gutters">
			<div class="col-md-4">

				<img src="~/Resources/3ed7439606589042c30b953079494e1dcc9f.jpg " alt="..." style="height:100%;width:100%">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">درباره ما</h5>
					<p class="card-text">شرکت بیتا زر اندیش پارس (بیزاَپ) متشکل از با استعدادترین و بهترین نیروهای انسانی فنی و متخصص، جز 5 کسب و کار موفق در زمینه فضای مجازی با هدف ایجاد بزرگترین بستر مجازی در ایران برای معرفی خدمات منزل، فروشگاه ها، رستوران ها و سایر مشاغل دیگر به عموم مردم به گونه ای که هر فرد بتواند بهترین و نزدیکترین کسب و کار مورد نظر خود را به صورت رایگان پیدا، مقایسه و انتخاب نماید.</p>
				</div>
			</div>
		</div>
	</div>

</div>


